<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
  class="btn btn-primary mx-2"
  (click)="changeHero()"
  *ngIf="name !== 'spiderman'"
>
  Cambiar Nombre
</button>
<button class="btn btn-primary" *ngIf="age !== 30" (click)="changeAge()">
  Cambiar Edad
</button>
<button class="btn btn-primary mx-2" (click)="reset()">Reset</button>
